.gengxin{
	background-color: #436eee
}
ul.ff{
	color: #fff;
	height: 40px;
	line-height: 40px;
	width: 1000px;
	margin: 0 auto;
}
li.ggengxin-fubu{
	list-style: none;
	float: left;
	margin: 0 20px 0 0;
}
li.ggengxin-fubu a{
	color: #fff;
}