<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/static/css/detail.css">
  <link rel="stylesheet" type="text/css" href="/static/css/heder.css">
  <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
</head>
<body>
{% include "./common/header.html" %}
<div class="boder1">
<div class="boder2">
	<div class="xiazai">
		<img src="/static/images/1.png" class="img">
		<p class="mulv">杀毒软件</p>
	</div>
	<div class="xiazai-button">
		<button class="button">ZOL本地下载</button>
		<p class="button-font">分享到：</p>
		<p class="button-font">资源大小：44.33MB</p>
		<p class="button-font">更新时间：2017-2-22</p>

	</div>
	<div class="http">
		<p class="http-font">官方下载地址</p>
		<div class="http-button1">
			<button class="dianxin">电信高速下载1</button>
			<button class="dianxin">电信高速下载1</button>
		</div>
		<div class="http-button2">
			<button class="dianxin">电信高速下载1</button>
			<button class="dianxin">电信高速下载1</button>
			</div>
	</div>
	</div>
</div>
</body>
</html>