<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/heder.css">
  <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
</head>
<body>
{% include "./common/header.html" %}

<div class="ruanjian">
{% for item in softinfo.data %}
	<div class="ruan1">
		<div class="ruanleft">
			<img src="/static/images/1.png" class="img">
		</div>
		<div class="ruanjian-right">
				<p class="h"><a href="#">
				{{item.resource_name}}<br></a></p>
				<p class="h1">
				大小：{{item.resource_size}}
				更新时间：2017.3.3 软件类型：{{item.resource_type}}</p>
				<p>杀毒软件是一款德国著名的杀毒大姐姐电饭锅</p>
				<button class="button"><a v-bind:href="item.url">下载</a></button>
		</div>
	</div>
	{% endfor %}
	
</div>
</body>
</html>