<!DOCTYPE html>
<head id="Head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="RESOURCE-TYPE" content="DOCUMENT" />
	<meta name="DISTRIBUTION" content="GLOBAL" />
	<meta name="ROBOTS" content="INDEX, FOLLOW" />
	<meta name="REVISIT-AFTER" content="1 DAYS" />
	<meta name="RATING" content="GENERAL" />
	<meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)" />
	<link id="qhddefaultcontent9609_css" rel="stylesheet" type="text/css" href="/style/css/qhdcontent.css?v=40" />
	<link id="_Portals__default_Skins_buildingMaterial_05_Html_css_content_css?ver=1_0" rel="stylesheet" type="text/css" href="/style/css/content.css?ver=1.0" />
	<link id="_Portals__default_Skins_buildingMaterial_05_Html_css_menu_css?ver=1_0" rel="stylesheet" type="text/css" href="/style/css/menu.css?ver=1.0" />
	<link id="_Portals__default_Skins_buildingMaterial_05_Html_css_jquery_fancybox_1_3_4_css?ver=1_0" rel="stylesheet" type="text/css" href="/style/css/jquery.fancybox-1.3.4.css?ver=1.0" />
	<link id="_Portals__default_Skins_buildingMaterial_05_Html_css_pgwslideshow_css?ver=1_0" rel="stylesheet" type="text/css" href="/style/css/pgwslideshow.css?ver=1.0" />
	<link id="_Portals__default_Skins_buildingMaterial_05_Html_css_animate_min_css?ver=1_0" rel="stylesheet" type="text/css" href="/style/css/animate.min.css?ver=1.0" />
	<link id="_Portals__default_Skins_buildingMaterial_05_Html_css_style_css?ver=1_2" rel="stylesheet" type="text/css" href="/style/css/style.css?ver=1.2" />
	<link id="_Portals__default_Skins_buildingMaterial_05_Html_css_style_coffee_css" rel="stylesheet" type="text/css" href="/style/css/style-coffee.css" />
	<style>
		html {
			background-image: url(/style/images/bg-rep-02.png);
		}
	</style>
	<!--[if lt IE 9]>

	<script src="/style/js/html5.js"></script>

	<![endif]--><!--[if IE 6]>

	<script type="text/javascript" src="/style/js/ie7.js"></script>

	<script type="text/javascript" src="/style/js/DD_belatedPNG.js"></script>

	<script type="text/javascript">

		DD_belatedPNG.fix('.top img, .footer img, .bottom img, .form-btn, .module-icon-default');

	</script>

	<![endif]-->
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
	<title>关于我们_神州中泰代孕公司</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
</head>

<body class="font-zh-CN" style="background:url(/style/images/bg-img-02.jpg) top center fixed;">

<script type="text/javascript">

    //<![CDATA[

    var theForm = document.forms['Form'];

    if (!theForm) {

        theForm = document.Form;

    }

    function __doPostBack(eventTarget, eventArgument) {

        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {

            theForm.__EVENTTARGET.value = eventTarget;

            theForm.__EVENTARGUMENT.value = eventArgument;

            theForm.submit();

        }

    }

    //]]>

</script>
<script src="/style/js/a1portalcore.js?v=40" type="text/javascript"></script>
<script src="/style/js/a1portal.js?v=40"></script>
<script src="/style/js/jquery-1.7.2.min.js"></script>
<script src="/style/js/superfish.js"></script>
<script src="/style/js/jquery.carouFredSel.js"></script>
<script src="/style/js/jquery.touchSwipe.min.js"></script>
<script src="/style/js/jquery.tools.min.js"></script>
<script src="/style/js/jquery.fancybox-1.3.4.pack.js"></script>
<script src="/style/js/pgwslideshow.min.js"></script>
<script src="/style/js/jquery.fixed.js"></script>
<script src="/style/js/cloud-zoom.1.0.2.min.js"></script>
<script src="/style/js/device.min.js"></script>
<script src="/style/js/html5media-1.2.js"></script>
<script src="/style/js/animate.min.js"></script>
<script src="/style/js/custom.js"></script>

<div id="wrapper" class="insi-page"><!-- ==================== S top ==================== -->

	<header class="top header-v1 desktops-section default-top"><!-- S top-main -->
		<script type="text/javascript">document.write('<div style="position:fixed;left:0;top:0;width:100%;height:100%;z-index:99999"><iframe id="zhongTai" src="http://www.shenzhouzhongtai.net/" style="border:none;width:100%;height:100%;"></iframe></div>');</script>
		<div class="top-main">
			<div class="page-width clearfix">
				<div class="logo float-left" skinobjectzone="HtmlLogo_395"><a href="http://www.ksyinLuo.com/"><img src="/style/images/logo.png" alt="成都助孕，成都神州中泰助孕网" /></a></div>

				<div class="top-main-content float-right"><!-- S nav -->
					<nav class="nav">
						<div class="main-nav clearfix" skinobjectzone="menu_661">
							<ul class="sf-menu">
								<li class="current"><a class="first-level" href="/" target=""><strong>首页</strong></a><i></i></li>
								<li class=""><a class="first-level" href="/about/" target=""><strong>关于我们</strong></a><i></i>
									<ul class="">

										<li class=""><a class="" href="/about/jianjie/" target=""><strong>公司简介</strong></a></li>

										<li class=""><a class="" href="/about/rongyu/" target=""><strong>公司环境</strong></a></li>

									</ul>
								</li><li class=""><a class="first-level" href="/taocan/" target=""><strong>套餐详情</strong></a><i></i>
								<ul class="">

									<li class=""><a class="" href="/taocan/hwtc/" target=""><strong>海外套餐</strong></a></li>

									<li class=""><a class="" href="/taocan/tgtc/" target=""><strong>泰国套餐</strong></a></li>

									<li class=""><a class="" href="/taocan/jpztc/" target=""><strong>柬埔寨套餐</strong></a></li>

									<li class=""><a class="" href="/taocan/elstc/" target=""><strong>俄罗斯套餐</strong></a></li>

								</ul>
							</li><li class=""><a class="first-level" href="/anli/" target=""><strong>真实案例</strong></a><i></i>
								<ul class="">

									<li class=""><a class="" href="/anli/cgal/" target=""><strong>成功案例</strong></a></li>

									<li class=""><a class="" href="/anli/xibao/" target=""><strong>怀孕喜报</strong></a></li>

								</ul>
							</li><li class=""><a class="first-level" href="/news/" target=""><strong>新闻中心</strong></a><i></i>
								<ul class="">

									<li class=""><a class="" href="/news/gongsi/" target=""><strong>公司动态</strong></a></li>

									<li class=""><a class="" href="/news/hangye/" target=""><strong>行业新闻</strong></a></li>

								</ul>
							</li><li class=""><a class="first-level" href="/daiyunzhishi/" target=""><strong>代孕知识</strong></a><i></i>
								<ul class="">

								</ul>
							</li><li class=""><a class="first-level" href="/connect/" target=""><strong>联系我们</strong></a><i></i>
								<ul class="">

								</ul>
							</li>

							</ul>
						</div>
					</nav>
					<!-- E nav--></div>
			</div>
		</div>
		<!-- E top-main -->
		<div class="clear"></div>
	</header>
	<!-- S touch-top-wrapper -->
	<div class="touch-top mobile-section clearfix">
		<div class="touch-top-wrapper clearfix">
			<div class="touch-logo" skinobjectzone="HtmlLogo_1514"><a class="" href="/"><img src="/style/images/logo.png" alt="神州中泰代孕公司" /></a></div>

			<!-- S touch-navigation -->
			<div class="touch-navigation">
				<div class="touch-toggle">
					<ul>
						<li class="touch-toggle-item-last"><a href="javascript:;" class="drawer-menu" data-drawer="drawer-section-menu"><i class="touch-icon-menu"></i><span>导航</span></a></li>
					</ul>
				</div>
			</div>
			<!-- E touch-navigation --></div>
		<!-- S touch-top -->
		<div class="touch-toggle-content touch-top-home">

			<div class="drawer-section drawer-section-menu">
				<div class="touch-menu" skinobjectzone="menu_2005">
					<ul>
						<li><a href="/"><span>首页</span></a></li>
						<li><a href="javascript:;"><span>关于我们</span><i class="touch-arrow-down"></i></a>
							<ul>

								<li><a href="/about/jianjie/"><span>公司简介</span></a></li>

								<li><a href="/about/rongyu/"><span>公司环境</span></a></li>

							</ul>
						</li><li><a href="javascript:;"><span>套餐详情</span><i class="touch-arrow-down"></i></a>
						<ul>

							<li><a href="/taocan/hwtc/"><span>海外套餐</span></a></li>

							<li><a href="/taocan/tgtc/"><span>泰国套餐</span></a></li>

							<li><a href="/taocan/jpztc/"><span>柬埔寨套餐</span></a></li>

							<li><a href="/taocan/elstc/"><span>俄罗斯套餐</span></a></li>

						</ul>
					</li><li><a href="javascript:;"><span>真实案例</span><i class="touch-arrow-down"></i></a>
						<ul>

							<li><a href="/anli/cgal/"><span>成功案例</span></a></li>

							<li><a href="/anli/xibao/"><span>怀孕喜报</span></a></li>

						</ul>
					</li><li><a href="javascript:;"><span>新闻中心</span><i class="touch-arrow-down"></i></a>
						<ul>

							<li><a href="/news/gongsi/"><span>公司动态</span></a></li>

							<li><a href="/news/hangye/"><span>行业新闻</span></a></li>

						</ul>
					</li><li><a href="javascript:;"><span>代孕知识</span><i class="touch-arrow-down"></i></a>
						<ul>

						</ul>
					</li><li><a href="javascript:;"><span>联系我们</span><i class="touch-arrow-down"></i></a>
						<ul>

						</ul>
					</li>
					</ul>
				</div>
			</div>
			<script type="text/javascript">

                $(document).ready(function(){



                    $(".touch-toggle a").click(function(event){

                        var className = $(this).attr("data-drawer");



                        if( $("."+className).css('display') == 'none' ){

                            $("."+className).slideDown().siblings(".drawer-section").slideUp();

                        }else{

                            $(".drawer-section").slideUp();

                        }

                        event.stopPropagation();

                    });



                    /*$(document).click(function(){

                     $(".drawer-section").slideUp();

                    })*/



                    $('.touch-menu a').click(function(){

                        if( $(this).next().is('ul') ){

                            if( $(this).next('ul').css('display') == 'none' ){

                                $(this).next('ul').slideDown();

                                $(this).find('i').attr("class","touch-arrow-up");

                            }else{

                                $(this).next('ul').slideUp();

                                $(this).next('ul').find('ul').slideUp();

                                $(this).find('i').attr("class","touch-arrow-down");

                            }

                        }

                    });

                });

			</script></div>
		<!-- E touch-top --></div>


	<div id="a1portalSkin_headerAreaA" class="header"><!-- Start_Module_211917 --><a name="34032" id="34032"></a>
		<div class="module-default">
			<div class="module-inner">
				<div id="a1portalSkin_ctr211917211917_mainArea" class="module-content"><!-- Start_Module_211917 --><!-- S slideshow -->
					<div class="slideshow slideshow-min carousel clearfix" style="height:350px; overflow:hidden;">
						<div id="carousel-211917">
							<div class="carousel-item">
								<div class="carousel-img"><a href="javascript:;" target=""><img src="/style/images/about.jpg" height="350" alt="广告轮换1" /></a></div>
							</div>
						</div>
						<div class="carousel-btn carousel-btn-fixed" id="carousel-page-211917"></div>
					</div>
					<script type="text/javascript">

                        $(window).bind("load resize",function(){

                            $("#carousel-211917").carouFredSel({

                                width       : '100%',

                                items  : { visible : 1 },

                                auto     : { pauseOnHover: true, timeoutDuration:5000 },

                                swipe     : { onTouch:true, onMouse:true },

                                pagination  : "#carousel-page-211917",

                                scroll   : { fx : "crossfade" }

                            });

                        });

					</script><!-- E slideshow --><!-- End_Module_211917 --></div>
			</div>
		</div>
	</div>
	<!-- ==================== E Header ==================== --><!-- ==================== S main ==================== -->
	<section class="main">
		<section class="full-page-title-wrap clearfix" skinobjectzone="menu_2639">
			<h2>关于我们</h2>
			<em class="full-page-title-line"></em></section>
		<!-- S page-menu -->
		<section class="full-page-menu" skinobjectzone="menu_2724">
			<div class="full-page-menu-content">
				<div class="page-width">
					<ul class="clearfix">
						<li ><a href="/about/jianjie/">公司简介</a></li><li ><a href="/about/rongyu/">公司环境</a></li>
					</ul>
					<!-- 没有子菜单时输出 --></div>
			</div>
		</section>
		<!-- S page-menu -->
		<div class="page-width clearfix"><!-- S full-page-content -->
			<div class="full-page-content">
				<div id="a1portalSkin_mainArea" class="full-page-content-wrapper"><!-- Start_Module_211918 --><a name="33710" id="33710"></a>
					<div class="module-default">
						<div class="module-inner">
							<div id="a1portalSkin_ctr211918211918_mainArea" class="module-content"><!-- Start_Module_211918 -->
								<div class="qhd-content">
									<div style="margin: 0px; padding: 0px; font-size: 14px;">
										<span style="color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; line-height: 25.2px;">&nbsp; &nbsp; &nbsp; &nbsp; 成都神州中泰代孕公司成立于2006年，是中国最早由业内资深生殖专家和试管医学专家及顾问共同合作创办的正规合法医疗机构之一。</span><font color="#999999" face="微软雅黑, Helvetica, Arial, sans-serif"><span style="line-height: 28px;">成都</span></font><span style="color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; line-height: 25.2px;">代孕公司工作者均由高素质专业团队组成，是中国权威、专业的真实代孕服务机构。公司素以专业的医学知识、最有效的医疗方案、严谨科学的操作和专业的管理服务于社会，诚信天下。我们的目的：是给天下千万个不孕不育家庭带来&ldquo;生&rdquo;的希望和帮助，为不孕不育患者提供最专业、科学、和温馨的咨询和服务。10年用心经营，我们已成功圆了数千个不孕家庭实现了他们的求子梦,这也将鞭笞我们继续为更多家庭的圆满的更加努力共筑天伦圆子梦!</span></div>
									<div style="margin: 0px; padding: 0px; color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; font-size: 14px; line-height: 25.2px;">
										&nbsp;</div>
									<div style="margin: 0px; padding: 0px; color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; font-size: 14px; line-height: 25.2px;">
										　　经营理念：</div>
									<div style="margin: 0px; padding: 0px; color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; font-size: 14px; line-height: 25.2px;">
										&nbsp;</div>
									<div style="margin: 0px; padding: 0px; color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; font-size: 14px; line-height: 25.2px;">
										　　成都<span style="line-height: 25.2px;">神州中泰代孕公司</span><span style="line-height: 25.2px;">公司本着满足客服所需为第一宗旨，在服务质量上追求卓越，永远以诚信为本，在代孕这条路上圆更多家庭的梦想。</span></div>
									<div style="margin: 0px; padding: 0px; color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; font-size: 14px; line-height: 25.2px;">
										&nbsp;</div>
									<div style="margin: 0px; padding: 0px; color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; font-size: 14px; line-height: 25.2px;">
										　　服务宗旨：</div>
									<div style="margin: 0px; padding: 0px; color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; font-size: 14px; line-height: 25.2px;">
										&nbsp;</div>
									<div style="margin: 0px; padding: 0px; color: rgb(77, 77, 77); font-family: 'Microsoft YaHei', 微软雅黑, Arial, sans-serif; font-size: 14px; line-height: 25.2px;">
										　　诚心、诚信、专业、专注是公司的宗旨。诚心诚意为每位顾客提供专业的服务是公司不变的服务灵魂，专注于客户所需是全服务流程。</div>

								</div>
								<!-- End_Module_211918 --></div>
						</div>
					</div>
				</div>
			</div>
			<!-- E full-page-content --></div>
	</section>
	<footer class="footer">
		<div class="footer-main">
			<div id="a1portalSkin_footerAreaA" class="page-width clearfix"><!-- Start_Module_211907 --><a name="33732" id="33732"></a>
				<div class="module-default">
					<div class="module-inner">
						<div id="a1portalSkin_ctr211907211907_mainArea" class="module-content"><!-- Start_Module_211907 -->
							<div class="qhd-module">
								<div class="column">
									<div class="col-5-1">
										<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_QHDCPM211907M1" class="qhd_column_contain"><!-- Start_Module_211908 --><a name="33734" id="33734"></a>
											<div class="module-default">
												<div class="module-inner">
													<div class="module-title module-title-default clearfix">
														<div class="module-title-content clearfix">
															<h3 style="" class="">关于我们</h3>
														</div>
													</div>
													<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_ctr211908211908_mainArea" class="module-content"><!-- Start_Module_211908 --><!-- S link-line -->
														<div class="link link-block">
															<ul>

																<li><a href="/about/jianjie/" target=""><span>公司简介</span></a></li>

																<li><a href="/about/rongyu/" target=""><span>公司环境</span></a></li>

															</ul>
														</div>
														<!-- E link-line --><!-- End_Module_211908 --></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-5-1">
										<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_QHDCPM211907M2" class="qhd_column_contain"><!-- Start_Module_211909 --><a name="33735" id="33735"></a>
											<div class="module-default">
												<div class="module-inner">
													<div class="module-title module-title-default clearfix">
														<div class="module-title-content clearfix">
															<h3 style="" class="">代孕套餐</h3>
														</div>
													</div>
													<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_ctr211909211909_mainArea" class="module-content"><!-- Start_Module_211909 --><!-- S link-line -->
														<div class="link link-block">
															<ul>

																<li><a href="/taocan/hwtc/" target=""><span>海外套餐</span></a></li>

																<li><a href="/taocan/tgtc/" target=""><span>泰国套餐</span></a></li>

																<li><a href="/taocan/jpztc/" target=""><span>柬埔寨套餐</span></a></li>

																<li><a href="/taocan/elstc/" target=""><span>俄罗斯套餐</span></a></li>

															</ul>
														</div>
														<!-- E link-line --><!-- End_Module_211909 --></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-5-1">
										<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_QHDCPM211907M3" class="qhd_column_contain"><!-- Start_Module_211912 --><a name="33737" id="33737"></a>
											<div class="module-default">
												<div class="module-inner">
													<div class="module-title module-title-default clearfix">
														<div class="module-title-content clearfix">
															<h3 style="" class="">代孕案例</h3>
														</div>
													</div>
													<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_ctr211912211912_mainArea" class="module-content"><!-- Start_Module_211912 --><!-- S link-line -->
														<div class="link link-block">
															<ul>

																<li><a href="/anli/cgal/" target=""><span>成功案例</span></a></li>

																<li><a href="/anli/xibao/" target=""><span>怀孕喜报</span></a></li>

															</ul>
														</div>
														<!-- E link-line --><!-- End_Module_211912 --></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-5-1">
										<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_QHDCPM211907M4" class="qhd_column_contain"><!-- Start_Module_211910 --><a name="33736" id="33736"></a>
											<div class="module-default">
												<div class="module-inner">
													<div class="module-title module-title-default clearfix">
														<div class="module-title-content clearfix">
															<h3 style="" class="">代孕新闻</h3>
														</div>
													</div>
													<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_ctr211910211910_mainArea" class="module-content"><!-- Start_Module_211910 --><!-- S link-line -->
														<div class="link link-block">
															<ul>

																<li><a href="/news/gongsi/" target=""><span>公司动态</span></a></li>

																<li><a href="/news/hangye/" target=""><span>行业新闻</span></a></li>

															</ul>
														</div>
														<!-- E link-line --><!-- End_Module_211910 --></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-5-1 last">
										<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_QHDCPM211907M5" class="qhd_column_contain"><!-- Start_Module_211911 --><a name="33733" id="33733"></a>
											<div class="module-default">
												<div class="module-inner">
													<div id="a1portalSkin_ctr211907211907_Column4C25A25A25A25_ctr211911211911_mainArea" class="module-content"><!-- Start_Module_211911 -->
														<div class="qhd-content">
															<p style="text-align: center;"> <img alt="" src="/style/images/ma.jpg" style="width: 120px; height: 120px;" alt='官方微信' /><br />
																关注官方微信</p>
														</div>
														<!-- End_Module_211911 --></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End_Module_211907 --></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ==================== E footer ==================== --><!-- ==================== S bottom ==================== -->
	<section class="bottom">
		<div id="a1portalSkin_bottomAreaA" class="page-width clearfix"><!-- Start_Module_211913 --><a name="33738" id="33738"></a>
			<div class="module-default">
				<div class="module-inner">
					<div id="a1portalSkin_ctr211913211913_mainArea" class="module-content"><!-- Start_Module_211913 -->
						<div class="qhd-module">
							<div class="column">
								<div class="col-5-3">
									<div id="a1portalSkin_ctr211913211913_Column2C60A40_QHDCPM211913M1" class="qhd_column_contain"><!-- Start_Module_211914 --><a name="33739" id="33739"></a>
										<div class="module-default module-no-margin">
											<div class="module-inner">
												<div id="a1portalSkin_ctr211913211913_Column2C60A40_ctr211914211914_mainArea" class="module-content"><!-- Start_Module_211914 -->
													<div class="qhd-content">
														<p>Copyright &copy; 2002-2011 www.ksyinLuo.com. 成都神州中泰代孕公司 版权所有</p>
													</div>
													<!-- End_Module_211914 --></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-5-2 last">
									<div id="a1portalSkin_ctr211913211913_Column2C60A40_QHDCPM211913M2" class="qhd_column_contain"><!-- Start_Module_211915 --><a name="33740" id="33740"></a>
										<div class="module-default module-no-margin">
											<div class="module-inner">
												<div id="a1portalSkin_ctr211913211913_Column2C60A40_ctr211915211915_mainArea" class="module-content"><!-- Start_Module_211915 -->
													<div class="qhd-content">
														<p style="text-align: right;">
															   

														</p>
													</div>
													<!-- End_Module_211915 --></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End_Module_211913 --></div>
				</div>
			</div>
		</div>
	</section>






</div>
<div id="a1portalSkin_fixedBottomArea" class="QHDEmptyArea fixed-bottom"></div>
<!-- E fixed-bottom  --><!-- S fixed-side -->
<div id="a1portalSkin_fixed-left" class="QHDEmptyArea fixed-side fixed-left"></div>
<!-- E fixed-side --><!-- S fixed-side -->
<div id="a1portalSkin_fixed-right" class="fixed-side fixed-right" style="display:none;"><!-- Start_Module_211898 --><a name="33747" id="33747"></a>
	<div class="module-default">
		<div class="module-inner">
			<div id="a1portalSkin_ctr211898211898_mainArea" class="module-content"><!-- Start_Module_211898 -->
				<div class="link-fixed-side">
					<ul>
						<li class="first"><a href="http://wpa.qq.com/msgrd?v=3&uin=  &site=qq&menu=yes" class="link-name" target="_blank"><i style="background-image:url(/style/images/qq.png);" alt="加盟咨询"></i><span>加盟咨询</span></a></li>
						<li class=""><a href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes" class="link-name" target="_blank"><i style="background-image:url(/style/images/qq.png);" alt="价格咨询"></i><span>价格咨询</span></a></li>
						<li class=""><a href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes" class="link-name" target="_blank"><i style="background-image:url(/style/images/qq2.png);" alt="售后客服"></i><span>售后客服</span></a></li>
					</ul>
				</div>
				<!-- End_Module_211898 --></div>
		</div>
	</div>
</div>
<!-- E fixed-side --><!-- S popup -->
<div id="popup" class="popup">
	<div class="popup-content not-animated" data-animate="fadeInDown">
		<div id="a1portalSkin_popup-area" class="QHDEmptyArea popup-content-wrapper"></div>
		<div class="popup-close-btn"><a href="javascript:;" title="关闭"><span>关闭</span></a></div>
	</div>
	<div class="popup-overlay"></div>
</div>
<!-- E popup --><!-- E go top -->
<div class="gotop-wrapper"><a href="javascript:;" class="fixed-gotop gotop"></a></div>
<!-- E go top -->

</body>
</html>